article
  h1 歐巴馬 再推太陽能政策
  div
    span 【聯合報╱編譯陳世欽／法新社華府九日電】
    span 2014.05.10 03:20 am

  p 美國總統歐巴馬宣示重新推動太陽能政策，預計二○二○年之前增加五萬個相關職缺，而白宮屋頂的太陽能熱水器也總算完工。

  p 人在加州的歐巴馬九日稱讚行政團隊為發展美國太陽能所採取的各項具體措施，他並重申協助逾三百個不同領域公民營機構開發太陽能並提高能源效率的既定立場。計畫主要內容之一是協助數千個家庭改用太陽能，總發電量達到八百五十百萬瓦以上，可滿足大約十三萬個家庭的用電需求。

  p 白宮表示，不同的能源效率投資可減少樓板面積合計逾九千三百萬平方公尺的建築物用電開銷。

  p 歐巴馬同時公布新的行政措施，準備以額外的廿億美元經費投入能源效率投資，同時提升建築物與智慧裝置的能源使用效率。這些行政措施同時將尋求減少三點八億公噸的二氧化碳排放量，相當於一年減少八千萬輛次的汽車使用，協助企業減少二百六十億美元的能源開支。

  p 美國去年約有四分之一的新增發電容量來自太陽能，比例僅次於天然氣。過去三年，一套太陽能系統的成本已經減少百分之五十以上。

  p 然而太陽能只占美國總發電量的百分之零點五，其中一半來自公用事業公司，其餘則來自已經裝設太陽能板的家庭。根據美國能源資訊局公布的最新數據，包括水力、風力與生質電力在內的再生能源，約占美國現有總發電量的百分之十二，希望二○四○年增至百分之十六。

  span 【2014/05/10 聯合報】@ http://udn.com/

  p: a(href="http://udn.com/NEWS/WORLD/WOR6/8666431.shtml#ixzz31HQOpZeq") 全文網址: 歐巴馬 再推太陽能政策 | 美國新聞 | 全球觀察 | 聯合新聞網 
  span Power By udn.com

