article
  h1 蘋果傳收購Beats 聘金是宏達電的10倍
  div
    span 【經濟日報╱記者黃晶琳／台北報導】
    span 2014.05.10 03:54 am
  span 圖／經濟日報提供

  p 早在2011年，宏達電董事長王雪紅及執行長周永明慧就看好Beats的市場魅力，斥資3.09億美元（約新台幣90億元）入股Beats，希望改變宏達電風格。但後來宏達電營運遭遇逆流，選擇與Beats分手。

  p 如今傳出蘋果有意花比當年宏達電近十倍的價格收購Beats，當年宏達電無緣與Beats延續的築夢計畫，可望由蘋果接棒完成，後續動態備受業界關注。

  p 宏達電2011年以3.09億美元買下Beats的51%股權，當時希望藉此讓宏達電手機走向「時尚潮牌」，能與擁有音樂、時尚優勢的蘋果抗衡。Beats為嘻哈歌手德瑞博士（Dr.Dre）及音樂大咖艾歐文（Jimmy Iovine）創立，獲得很多時尚及藝人界的喜愛，更是女神卡卡最愛的品牌，開創高階耳機的時尚風潮。根據NPD Group統計，去年Beats拿下美國高階耳機近六成的市占率。

  p 宏達電入股Beats之後，在全球推出一系列搭載Beats Audio音效的創新產品，成功提升全球知名度，也一度引發熱潮。但後來傳聞Beats有意另尋合作夥伴，因此決定與宏達電拆夥，雙方雖然無緣繼續走下去，但宏達電也在出清持股過程中，獲利32億元，挹注財報表現。

  span 【2014/05/10 經濟日報】@ http://udn.com/

  p: a(href="http://udn.com/NEWS/FINANCE/FIN3/8666399.shtml#ixzz31H6pH0lH") 蘋果傳收購Beats 聘金是宏達電的10倍 | 科技產業 | 財經產業 | 聯合新聞網 
  span Power By udn.com
