mixin sidebar(filters)
  aside
    img#logo(alt="icon", src="/images/logo.jpg")
    each filterType in ["source", "date", "location"]
      div(id = "news_" + filterType)
        | #{capitalize(filterType)}
        each filter in filters
          if filter.type === filterType
            span= filter.content
    a(href="/about") About

mixin sidebarWithoutFilters
  aside
    img#logo(alt="icon", src="/images/logo.jpg")
    a(href="/about") About