mixin sidebarCommonPart(isLogin)
  .sidebar_link
    a(href="/about").about_link About
    if isLogin
      a(href="/account") Account
      a(href="/logout") Logout
    else
      a(href="/login") Login

mixin sidebar(filters, isLogin)
  aside
    a(href="/")
      img#logo(alt="icon", src="/images/logo.jpg")
    #sidebar_content
      each filterType in ["source", "date", "location"]
        div(id = "news_" + filterType)
          | #{capitalize(filterType)}
          each filter in filters
            if filter.type === filterType
              span= filter.content
      mixin sidebarCommonPart(isLogin)

mixin sidebarWithoutFilters(isLogin)
  aside
    a(href="/").logo_link
      img#logo(alt="icon", src="/images/logo.jpg")
    #sidebar_content
      mixin sidebarCommonPart(isLogin)
