extend layout

include includes/sidebar

block content
  main
    mixin sidebarWithoutFilters
    #content
      h1 SmartNewser
      p.about 
        |平常<span>沒時間</span>蒐集新聞資料嗎？<span>想多瞭解國際大事</span>，管道卻不多嗎？
        |看完一則新聞後，心中不斷OS浪費我寶貴時間看這爛東西嗎？...
        |別擔心，我們將匯集各大具公信力之新聞媒體資訊，並配合使用者
        |<span>留言機制</span>及<span>評分機制</span>來過濾不好的新聞，提供忙碌但真心想關注社會發生什麼
        |事的你一個很好的新聞平台!!!<span>Join us~ Be a SmartNewser!!!</span>
      h2 Logo
      p.logo
        |以新聞放大鏡、全球化新聞、追求真實、地圖以及每個人心中
        |那把正義分寸的尺為設計概念，營造一個希望有亮點的新聞整合平台
        |<span>(特別感謝!!師大牙套同學設計)</span> 
