extends layout

include includes/sidebar
include includes/article

block content
  main
    mixin sidebar(builtinFilters, isLogin)
    #content
      header.row
        ul#filters.col-md-offset-1.col-md-8
          each contents, type in filters
            if typeof contents === 'string'
              - contents = [contents]
            each content in contents
              li(class = "news_" + type)= content
        input#search.col-md-2(placeholder="Search")
      section.row
        // 3 columns
        each _, index in [0, 1, 2]
          .column.col-md-4
            each article in columns[index]
              mixin display_brief_article(article)

  script.
    function addFilter(text, klass) {
      $("<li>" + text + "</li>").addClass(klass).appendTo("#filters");
    }
    function removeFilter(text) {
      $("#filters > li").each(function(){
        var li = $(this);
        if (li.text() === text) {
          li.remove();
        }
      });
    }
    function filterNews() {
      var params = {};
      $("#filters > li").each(function() {
        var attr;
        if ($(this).hasClass("news_source")) {
          attr = "source";
        } else if ($(this).hasClass("news_date")) {
          attr = "date";
        } else if ($(this).hasClass("news_location")) {
          attr = "locations";
        }
        if (params[attr]) {
          if (typeof params[attr] === 'string') {
            params[attr] = [params[attr]];
          }
          params[attr].push($(this).text());
        } else {
          params[attr] = $(this).text();
        }
      });
      updateNews(params);
    }
    function updateNews(params) {
      $.getJSON("/list.json?" + $.param(params), function(articles) {
        $(".column > *").remove();
        var columns = [[], [], []];
        for (var i in articles) {
          columns[i % 3].push(articles[i]);
        }
        $(".column").each(function(i) {
          for (var j in columns[i]) {
            var article = columns[i][j];
            newArticleTag(article).appendTo($(this));
          }
        })
      });
    }
    function newArticleTag(article) {
      var articleTag = $("<article><a><h1 /><div>");
      articleTag.find("a").addClass("news_link").attr("href", "/news/" + article._id);
      articleTag.find("h1").text(article.title);
      articleTag.find("div").addClass("article_content").html(truncate(article.content, 200));
      return articleTag;
    }
    function truncate(str, length) {
      var result = str.substring(0, length - 3);
      if (result.lastIndexOf('>') < result.lastIndexOf('<')) {
        return result.substring(0, result.lastIndexOf('<')) + '...';
      } else {
        return result + '...';
      }
    }
    $("[id^='news_'] > span").click(function(){
      var span = $(this);
      if (span.hasClass("is-clicked")) {
        span.removeClass("is-clicked");
        removeFilter(span.text());
      } else {
        if ($(this).parent().is("#news_date")) {
          $("#news_date > span").each(function() {
            var span = $(this);
            span.removeClass("is-clicked");
            removeFilter(span.text());
          });
        }
        span.addClass("is-clicked");
        addFilter(span.text(), span.parent().attr("id"));
      }
      filterNews();
    });
    $("#search").on('keyup', function(e) {
      if (e.which === 13) {
        updateNews({ content: $(this).val() });
      } 
    });
    $("#filters").on("click", "li", function() {
      var li = $(this);
      $("[id^='news_'] > span").each(function() {
        var span = $(this);
        if (span.text() === li.text()) {
          span.removeClass("is-clicked");
        }
      });
      li.remove();
      filterNews();
    });
