extends layout

include includes/article

block content
  main
    aside
      img#logo(alt="icon", src="images/logo.jpg")
      #news_source
        | Source
        span BBC
        span CNN
        span udn
      #news_date
        | Date
        span 1 day
        span 1 week
        span 1 month
        span 1 year
      #news_location
        | Location
        span Taiwan
        span Asian
        span Europe
        span America
    #content
      header.row
        ul#filter.col-md-offset-1.col-md-8
        input#search.col-md-2(placeholder="Search")
      section.row
        .column.col-md-4
          //include includes/article1
          each article in columns[0]
            mixin display_article(article)
        .column.col-md-4
          each article in columns[1]
            mixin display_article(article)
        .column.col-md-4
          each article in columns[2]
            mixin display_article(article)

  script.
    function removeFilter(text) {
      $("#filter > li").each(function(){
        var li = $(this);
        if (li.text() === text) {
          li.remove();
        }
      });
    }
    function filterNews() {
      var params = {};
      $("#filter > li").each(function() {
        var attr;
        if ($(this).hasClass("news_source")) {
          attr = "source";
        } else if ($(this).hasClass("news_date")) {
          attr = "date";
        } else if ($(this).hasClass("news_location")) {
          attr = "locations";
        }
        params[attr] = $(this).text();
      });
      updateNews(params);
    }
    function updateNews(params) {
      $.getJSON("/list.json?" + $.param(params), function(articles) {
        $(".column > *").remove();
        var columns = [[], [], []];
        for (var i in articles) {
          columns[i % 3].push(articles[i]);
        }
        $(".column").each(function(i) {
          for (var j in columns[i]) {
            var article = columns[i][j];
            $("<article><h1>" + article.title + "</h1><div class=\"article_content\">" + article.content + "</div><p>" + article.link + "</p></article>").appendTo($(this));
          }
        })
      });
    }
    $("[id^='news_']").children("span").click(function(){
      var span = $(this);
      if (span.hasClass("is-clicked")) {
        span.removeClass("is-clicked");
        removeFilter(span.text());
      } else {
        if ($(this).parent().is("#news_date")) {
          $("#news_date > span").each(function() {
            var span = $(this);
            span.removeClass("is-clicked");
            removeFilter(span.text());
          });
        }
        span.addClass("is-clicked");
        $("<li>" + span.text() + "</li>").addClass(span.parent().attr("id"))
                                         .appendTo("#filter");
      }
      filterNews();
    });
    $("#search").on('keyup', function(e) {
      if (e.which === 13) {
        updateNews({ content: $(this).val() });
      } 
    });
