extends layout

block content
  main.row
    #content.col-md-10
      header.row
        ul#filter.col-md-offset-1.col-md-8
          li BBC
          li 1 year
          li Taiwan
        input#search.col-md-2
      section.row
        .column.col-md-4
          article Article 1
        .column.col-md-4
          article Article 2
        .column.col-md-4
          article Article 3
    aside.col-md-2
      img#logo(alt="icon", src="images/logo.jpg")
      #news_resource
        span BBC
        span CNN
      #news_date
        span 1 day
        span 1 week
        span 1 month
        span 1 year
      #news_location
        span Taiwan
        span Asian
        span Europe
        span America
   
  script.
    $("[id^='news_']").children("span").click(function(){
      var span = $(this);
      if (span.hasClass("is-clicked")) {
        span.removeClass("is-clicked");
        $("#filter > li").each(function(){
          var li = $(this);
          if (li.text() === span.text()) {
            li.remove();
          }
        });
      } else {
        span.addClass("is-clicked");
        $("<li>" + span.text() + "</li>").appendTo("#filter");
      }
    });
