extends layout

include includes/sidebar
include includes/article

block content
  main
    mixin sidebar(builtinFilters)
    #content
      header.row
        ul#filter.col-md-offset-1.col-md-8
          each contents, type in filters
            if typeof contents === 'string'
              - contents = [contents]
            each content in contents
              li(class = "news_" + type)= content
        input#search.col-md-2(placeholder="Search")
      section.row
        // 3 columns
        each _, index in [0, 1, 2]
          .column.col-md-4
            each article in columns[index]
              mixin display_brief_article(article)

  script.
    function addFilter(text, klass) {
      $("<li>" + text + "</li>").addClass(klass).appendTo("#filter");
    }
    function removeFilter(text) {
      $("#filter > li").each(function(){
        var li = $(this);
        if (li.text() === text) {
          li.remove();
        }
      });
    }
    function filterNews() {
      var params = {};
      $("#filter > li").each(function() {
        var attr;
        if ($(this).hasClass("news_source")) {
          attr = "source";
        } else if ($(this).hasClass("news_date")) {
          attr = "date";
        } else if ($(this).hasClass("news_location")) {
          attr = "locations";
        }
        if (params[attr]) {
          if (typeof params[attr] === 'string') {
            params[attr] = [params[attr]];
          }
          params[attr].push($(this).text());
        } else {
          params[attr] = $(this).text();
        }
      });
      updateNews(params);
    }
    function updateNews(params) {
      $.getJSON("/list.json?" + $.param(params), function(articles) {
        $(".column > *").remove();
        var columns = [[], [], []];
        for (var i in articles) {
          columns[i % 3].push(articles[i]);
        }
        $(".column").each(function(i) {
          for (var j in columns[i]) {
            var article = columns[i][j];
            $("<a class=\"news_link\" href=\"/news/" + article._id + "\"><article><h1>" + article.title + "</h1><div class=\"article_content\">" + article.content + "</div><p>" + article.link + "</p></article></a>").appendTo($(this));
          }
        })
      });
    }
    $("[id^='news_']").children("span").click(function(){
      var span = $(this);
      if (span.hasClass("is-clicked")) {
        span.removeClass("is-clicked");
        removeFilter(span.text());
      } else {
        if ($(this).parent().is("#news_date")) {
          $("#news_date > span").each(function() {
            var span = $(this);
            span.removeClass("is-clicked");
            removeFilter(span.text());
          });
        }
        span.addClass("is-clicked");
        addFilter(span.text(), span.parent().attr("id"));
      }
      filterNews();
    });
    $("#search").on('keyup', function(e) {
      if (e.which === 13) {
        updateNews({ content: $(this).val() });
      } 
    });
