extends layout

block content
  aside
    img(alt="icon")
    #news_resource
      span BBC
      span CNN
    #news_date
      span 1 day
      span 1 week
      span 1 month
      span 1 year
    #news_location
      span Taiwan
      span Asian
      span Europe
      span America
  main
    header
      ul#filter
        li BBC
        li 1 year
        li Taiwan
      input#search
    section
      article Article 1
      article Article 2
      article Article 3
  script.
    $("[id^='news_']").children("span").click(function(){
      var span = $(this);
      if (span.hasClass("is-clicked")) {
        span.removeClass("is-clicked");
        $("#filter > li").each(function(){
          var li = $(this);
          if (li.text() === span.text()) {
            li.remove();
          }
        });
      } else {
        span.addClass("is-clicked");
        $("<li>" + span.text() + "</li>").appendTo("#filter");
      }
    });
