doctype html
html
  head
    title SmartNewser
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    //Latest compiled and minified CSS
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    //Optional theme
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    //Latest compiled and minified JavaScript
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
