extends layout

include includes/sidebar

block content
  main
    mixin sidebarWithoutFilters(false)
    #login
      h1 Login
      form(method="get", action="/auth/facebook")
        button.btn.btn-default Login via Facebook
