@charset utf-8; /*如果會用到中文*/

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F4F4;
 }

.more a{  /* 因為繼續閱讀是個超連結，要用a來定義 */
display: none;  /* 平常設定不要顯示 */
}

/*a.articlea:hover {*/
article a.news_link:first-child
{
  display: block;
  border: 4px solid;
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0);
}

article a.news_link:first-child:hover{ /*只有上面部分有框*/

/* 當滑鼠移至該篇文章時，設定以block顯示，可設定超連結以一個區塊顯示 */ 
border-color: #1B87A2;
background-color: rgba(20, 138, 175, 0.17);
}
 

ul#filter{ height: 10%; }
header{
  font-weight: bolder;
  background-color: rgba(47, 167, 158, 0.82);
  margin-bottom: -20%;
  top: 0px;
  left: 0px;
  height: 15%;
  position: fixed;
  width:87%;
  overflow-x: auto;
  z-index:100; /*和層次有關*/    
  font-size: 20px;
   
  /*box shadow*/
  -moz-box-shadow: 0 8px 10px -6px #8497AF; 
  -webkit-box-shadow: 0 8px 10px -6px #8497AF ;
  box-shadow: 0 8px 10px -6px #8497AF ;

}
header li{
  display: inline-block;
  line-height: 70px;
  margin-left: 10px; /*block置中*/
  text-indent: 25px;

}
header input{ 
  margin-top: 20px;
}
/* aside 右手邊框框*/
aside {
  background-color: rgba(18, 119, 119, 0.76);
  font-size: 22px;
  margin-left: -20%;
  top: 0px;
  right: 0px;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
main {
  position: relative;
}

#content {  /*中間放新聞處*/
  width: 80%;
  padding-left: 5%;
}
section
{
  margin-top: 10%;
  /*border: 2px solid;*/ 
  font-size: 20px;

}
#logo{
  width: 165px;
  margin: 15px;
  border-radius: 10px;
}

aside span{
 color: rgba(180, 245, 239, 0.8);
 width: 120px;
 margin-left: 15px;
 display: block; 
 font-size: 18px;
}

#news_source, #news_date, #news_location{
  padding:10px 0px 10px;
  color: #0D3453;
  margin-left: 5px;
}

.is-clicked{
 border: 2px solid #28D19B;
 border-radius: 5px;
 font-weight: bolder;
 color:#FFF;
}
/*網頁的連結設定*/
a.news_link, a.news_link:hover, a.news_link:visited, a.news_link:active, a.news_link:focus {
  text-decoration: none;
  color: #000;
}
/*超連結 滑鼠移過去時的樣式*/
a.news_link:hover {
  text-decoration: none; 
  cursor: url('../images/pointer.jpg'), default;
  /*註：圖片有限制大小 要在128*128範圍內 */
}
ul.article_locations
{
  margin-left: 10px; 

}

ul li{   
  display: inline-block;  /* 水平內顯示為區塊 */
  border: 2px solid #ccc;
  padding: 5px 10px;
  background-color: rgb(25, 164, 170);
  color: #E7F0E9;
  text-decoration: none;
  font-size: 15px;
  line-height: 21px;
} 
ul li:hover
{
   display: inline-block;
   border-color: #000080;
}
div.article_content
{
display: inline-block; 
  width: 80%;
  margin-bottom: 10px;
}
div p
{
  font-size: 20px;
}
article p /*單篇文章內的行與行間距*/
{
  display: inline-block; 
  padding:5px 0px;
}
div label
{
display: inline-block; 
margin:3px 8px 3px 50px;
font-size: 15px;

}
button#add_location {
  display: inline-block;
   padding-left:2px; 
   margin: 3px 4px 1px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   border-radius: 3px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: black;
   text-align: middle;
   }
button#add_location:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button#add_location:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }