@charset utf-8; /*如果會用到中文*/

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F4F4;
  background-image:url('../images/back.png'); /*背景圖*/
  background-size: cover;/*背景圖大小調整*/
 }

.more a{  /* 因為繼續閱讀是個超連結，要用a來定義 */
display: none;  /* 平常設定不要顯示 */
}

/*a.articlea:hover {*/
article a.news_link:first-child
{
  display: block;
  border: 4px solid;
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
}

article a.news_link:first-child:hover{ /*只有上面部分有框*/

/* 當滑鼠移至該篇文章時，設定以block顯示，可設定超連結以一個區塊顯示 */ 
border-color: #1B87A2;
background-color: rgba(20, 138, 175, 0.17);
}
 

ul#filters{ height: 10%; }
header{
  font-weight: bolder;
  background-color: rgba(47, 167, 158, 0.82);
  margin-bottom: -20%;
  top: 0px;
  left: 0px;
  height: 15%;
  position: fixed;
  width:87%;
  overflow-x: auto;
  z-index:100; /*和層次有關*/    
  font-size: 20px;
  /*box shadow*/
  -moz-box-shadow: 0 8px 10px -6px #8497AF; 
  -webkit-box-shadow: 0 8px 10px -6px #8497AF ;
  box-shadow: 0 8px 10px -6px #8497AF ;

}
header li{
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px; /*block置中*/
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
header li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
header input{ 
  margin-top: 20px;
}
/* aside 右手邊框框*/
aside {
  background-color: rgba(0, 135, 140, 1);
  font-size: 22px;
  margin-left: -20%;
  top: 0px;
  right: 0px;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  /*transition: all 0.4s ease 0s;*/
}

main {
  position: relative;
}

#content{  /*中間放新聞處*/
  width: 80%;
  padding-left: 5%;
}

section{
  margin-top: 10%; 
  font-size: 20px;
}

.column {
  padding-left: 10px;
  padding-right: 10px;
}

#logo{
  width: 165px;
  margin: 15px;
  border-radius: 10px;
}

aside span{
  color: rgba(180, 245, 239, 0.8);
  width: 120px;
  margin-left: 5px;
  padding-left: 10px;
  display: block; 
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

aside span:hover, aside a.about_link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#news_source, #news_date, #news_location, aside a.about_link {
  color: #030E18;
  margin-left: 15px;
  margin-top: 10px;
}

.is-clicked{
 border: 2px solid #28D19B;
 border-radius: 5px;
 font-weight: bolder;
 color:#FFF;
}
/*網頁的連結設定*/
a.news_link, a.news_link:hover, a.news_link:visited, a.news_link:active, a.news_link:focus {
  text-decoration: none;
  color: #000;
}
a.about_link:hover {
  text-decoration: none;
}
/*超連結 滑鼠移過去時的樣式*/
a.news_link:hover {
  text-decoration: none; 
  /*cursor: url('../images/pointer.jpg'), default;
  註：圖片有限制大小 要在128*128範圍內 */
}

/*單篇新聞的css*/
ul.article_locations li{   
  display: inline-block;  /* 水平內顯示為區塊 */
  border: 2px solid #ccc;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: rgb(25, 164, 170);
  color: #E7F0E9;
  text-decoration: none;
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;
} 

ul.article_locations li:hover{
   display: inline-block;
   border-color: #000080;
}

div.article_content{
  display: inline-block; 
  width: 95%; /*單篇新聞占中間版面*/
  margin-bottom: 10px;
  text-indent: 40px;
}

div p{
  font-size: 20px;
}

article {
  overflow: hidden;
  text-overflow: ellipsis;
}

article p {/*單篇文章內的行與行間距*/
  display: inline-block; 
  padding:1px 0px;
}

div label{
  display: inline-block; 
  margin:3px 6px 0px 0px;
  font-size: 15px;
}

div.wrap_location{
   display: inline-block;
   margin-left: 5%;
}

button#add_location{
   display: inline-block;
   padding-left:2px; 
   margin: 3px 4px 1px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   border-radius: 3px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: black;
   text-align: middle;
}

button#add_location:hover{
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}

button#add_location:active{
   border-top-color: #1b435e;
   background: #1b435e;
 }

p.about,p.logo{
  display: inline-block;
  width:85%;
  text-indent: 40px;
}


p.about span {
  font-weight:bolder;
  color:#9154EC;
}

p.logo span{
 font-size: 12px;
}

.title_bar {
  margin-bottom: 10px;
}

h1.article_title {
  display: inline-block;
}

.votebox {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 20px;
  height: 60px;
  text-align: center;
}

.upvote {
  border-bottom: 12px solid #555;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.downvote {
  border-top: 12px solid #555;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.article_score {
  display: inline-block;
  margin: 0 auto;
  font-size: 24px;
}
#content h1{
  color:#F08018;
  font-weight: bolder;
}
#content h1 span {
  color:#FF0000;
}
#content h2{
  color: #101F88;
  font-weight: bolder;
}